body{
    height: 300vh;
}

#title{
    padding-top: 30vh;
    padding-bottom: 30vh;
    width: 80%;
    font-family: 'Cinzel', serif;
}

#title h1{
    font-size: 4em;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(12, 19, 79, .5);
}

#cl{
    width: 68.5%;
}

h2{
    padding-top: 5%;
    font-size: 2.75rem;
    font-family: 'Cinzel', serif;
}

b{
    color: cyan;
}

#clItems{
    display: flex;
    flex-direction: column;
}

#clItems img{
    transition: 1s;
    height: 50vh;
}

#clItems img:hover{
    scale: 1.1;
}

.flexholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 1.75rem;
    padding-bottom: 7%;
}

#para1{
    text-align: right;
}

@media only screen and (700px <= width < 900px) {
    #about{
        padding: 0;
        margin: 0;
    }

    .flexholder{
        width: 500px;
        display: flex;
        flex-direction: column;
        font-family: 'Wix Madefor Display', sans-serif;
        text-align: justify;
    }

    #para1{
        text-align: justify;
    }

    #clItems img{
        height: 40vh;
    }
}

@media only screen and (400px <= width < 700px){
    #title h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .flexholder{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        font-family: 'Wix Madefor Display', sans-serif;
        text-align: justify;
        justify-content: center;
    }

    #para1{
        text-align: justify;
    }

    #cl img{
        height: 30vh;
        padding-bottom: 10%;
    }
}

@media only screen and (width < 400px){
    #title h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .flexholder{
        display: flex;
        flex-direction: column;
        font-family: 'Wix Madefor Display', sans-serif;
        text-align: justify;
    }

    #para1{
        text-align: justify;
    }

    #cl img{
        height: 30vh;
        padding-bottom: 10%;
    }
}